$font-family: 'Avenir-BlackOblique', sans-serif;
$font-small: 15px;
$font-medium: 17px;
$font-large: 25px;

@font-face {
    font-family: 'Avenir-Black';
    src: url('/static/fonts/AvenirLTPro-Black.otf') format('otf');
}

@font-face {
    font-family: 'Avenir-BlackOblique';
    src: url('/static/fonts/AvenirLTPro-BlackOblique.otf') format('otf');
}

@font-face {
    font-family: 'Avenir-Book';
    src: url('/static/fonts/AvenirLTPro-Book.otf') format('otf');
}

@font-face {
    font-family: 'Avenir-BookOblique';
    src: url('/static/fonts/AvenirLTPro-BookOblique.otf') format('otf');
}

@font-face {
    font-family: 'Avenir-Heavy';
    src: url('/static/fonts/AvenirLTPro-Heavy.otf') format('otf');
}

@font-face {
    font-family: 'Avenir-HeavyOblique';
    src: url('/static/fonts/AvenirLTPro-HeavyOblique.otf') format('otf');
}

@font-face {
    font-family: 'Avenir-Light';
    src: url('/static/fonts/AvenirLTPro-Light.otf') format('otf');
}

@font-face {
    font-family: 'Avenir-LightOblique';
    src: url('/static/fonts/AvenirLTPro-LightOblique.otf') format('otf');
}

@font-face {
    font-family: 'Avenir-Medium';
    src: url('/static/fonts/AvenirLTPro-Medium.otf') format('otf');
}

@font-face {
    font-family: 'Avenir-MediumOblique';
    src: url('/static/fonts/AvenirLTPro-MediumOblique.otf') format('otf');
}


@font-face {
    font-family: 'Avenir-Roman';
    src: url('/static/fonts/AvenirLTPro-Roman.otf') format('otf');
}